body {
    font-family: "Fira Code","Arial","Verdana", sans-serif;
/*     font-size: 1.2em; */
    background-color: lightgrey;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
header {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
h1,h2 {
    font-family: "Manufacturing Consent", serif;
    margin: auto 0;
    }
h1 {
    font-size: 3em;
    letter-spacing: 0.5em;
}
h2 {
    font-size: 2em;
    background: darkred;
    color: white;
    width: fit-content;
    margin-bottom: 0.3em;
}

@media (max-width: 500px){
    h1 {
        font-size: 2.5em;
        letter-spacing: 0.1em;
    }
    h2 {
        font-size: 1.5em;
    }
}
main {
    display: flex;
    flex-direction: column;
}
#MBLogo {
    height: 3.2em;
}
#boto-matar {
    margin: auto;
    padding: 2em 0;
    background: url("../imatges/taca.svg") no-repeat center;
    background-size: contain;
}
.subtitol {
    margin 0px 0px;
}
a {
    color: white;
    text-decoration:none;
}
.accent {
    background: darkred;
    color: white;
    font-weight: bold;
}
.superior{
    display: flex;
    flex-direction: row;
    gap: 2.6em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0.5em 0px;
    border-style: solid;
    border-width: 0.5px 0em;
}
.inferior{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.supesq {
    border-right: 0.5px solid;
    border-bottom: 0.5px solid;
}
.supdret {
    border-left: 0.5px solid;
    border-bottom: 0.5px solid;
}
.infesq {
    border-top: 0.5px solid;
    border-right: 0.5px solid;
}
.infdret {
    border-left: 0.5px solid;
    border-top: 0.5px solid;
}
.dins-inferior{
    flex: 1 0 40%;
    padding: 1.4em;
    margin: -0.5px;
}
.element-llista{
    display: list-item;
    margin-left: 1.5em;
    margin-bottom: 0.3em;
}
footer {
    margin-top: 0.5em;
    text-align: center;
    font-size: 0.6em;
}
footer div{
    margin: 0.5em 0em;
}
